tensorflow==2.11.0
tensorflow_io==0.31.0
pyaudio==0.2.14
keyboard==0.13.5
matplotlib==3.8.2
SpeechRecognition==3.10.1
pyttsx3==2.90
pandas==2.1.4
scikit-image==0.22.0
filterpy==1.4.5
scipy==1.11.4
apriltag==0.0.16
opencv-python==4.8.1.78
numpy==1.26.2
ultralytics==8.0.227
torch==2.1.1